{% extends "includes/base.html" %}

{% block body %}
<div class="container">
  <div class="page-header">
    <h2>My Pages</h2>
  </div>
  <div class="page-body">

      {% if teams|length == 0 %}

        <P>&nbsp;</P>

        <p>
          Welcome to Team Lessig! Here you can create your own pledge page
          so you can track the pledges of your and your friends.
        </p>

        <p>You can create a page or multiple pages for:</p>
        <ul>
          <li>Yourself (Joan Samplename)</li>
          <li>Your family (The Samplename Family)</li>
          <li>Your co-workers (J&amp;J Widgets &amp; Flanges)</li>
          <li>Your group: (Holy Rollers Bowling Team)</li>
          <li>Or even for a subreddit! (/r/rootstrikers)</li>
        </ul>

        <p>
          On your page, you can upload a video if you wish, or use our
          default from Professor Lessig. You can also include formatted text,
          images, and links, using Markdown, which is a simple system for
          creating pages without having to know any programming. And you can
          always log back in and change it.
        </p>

        <p>Try it out!</p>

      {% else %}

        <p class="dashboard-intro">
          Here's a list of all your current pledge pages. Just click on the
          name in order to visit or edit it, or click on the button below to
          create another page.
        </p>

        <ul class="teamslist">
          {% for team in teams %}
            {% if team.primary_slug %}
              <li><a href="/t/{{team.primary_slug}}/">{{team.title}}</a></li>
            {% endif %}
          {% endfor %}
        </ul>

      {% endif %}

      <a style="text-decoration:none;" href="/dashboard/new">
        <div class="btn-cta">CREATE NEW PLEDGE PAGE</div>
      </a>
      
      <br/>

      <div class="explain">
          By clicking "CREATE NEW PLEDGE PAGE," I certify that:<br>
          1. I am a U.S. citizen or lawfully admitted permanent resident of the U.S.<br>
  				2. I am making this contribution using my own personal debit or credit card, PayPal account, or bitcoins, and not those of another person or entity.<br>
  				3. I am making this contribution with my own personal funds, and I will not be reimbursed by anyone for this contribution.<br>
  				4. I do not hold a federal government contract.<br>
  				5. I am at least 18 years old. <br>
  				6. This contribution is not made from the funds of a political action committee.<br>
  				7. This contribution is not from a currently registered federal lobbyist or foreign agent.
      </div>
    </div>
  </div>
</div><!-- eo .container -->
{% endblock %}
